Cipher Key :&nbsp; <br><br><input type="text" placeholder="Salt/Secret" [(ngModel)]="tokenFromUI" class="token"><br><br>

<hr><hr>
Encryption <br><br>
<input class="input" type="text" placeholder="data to encrypt" [(ngModel)]="request"><br><br>
<input type="button" value="Encrypt" (click)="encryptUsingAES256()"><br><br>
<span>
Encrypted Text:<br> {{encrypted}}
</span>

<hr><hr>
Decryption <br><br>
<input class="input" type="text" placeholder="data to decrypt" [(ngModel)]="responce"><br><br>
<input type="button" value="Decrypt" (click)="decryptUsingAES256()">&nbsp;

<p>
  Decrypted Text:<br> {{decrypted}}
</p>